.container {
  width: 100vw;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerCompletedTackList {
  gap: 20px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  margin-top: 40px;
}
.containerDeleteAll {
  width: 50vw;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
}
.containerDeleteAllButton {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: #eb5757;
  border-radius: 4px;
  height: 100%;
  width: 20%;
}
.containerDeleteAllButton img {
  height: 50%;
  object-fit: contain;
}
.containerDeleteAllButton p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
