@import url("https://fonts.googleapis.com/css?family=Montserrat");
.containerTaskCard {
  width: 50vw;
  display: flex;
  height: auto;
}
.containerTaskCardComplete {
  width: 100%;
  display: flex;
}
.containerTaskCardCompleteCheck {
  height: 24px;
  width: 24px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
}
.containerTaskCardCompleteDetails {
  width: 90%;
  transform: translateX(10px);
}
.containerTaskCardCompleteDetails p {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.containerTaskCardCurrent {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  height: auto;
}
.containerTaskCardCurrentLeft {
  display: flex;
  width: 85%;
}
.containerTaskCardCurrentLeftCheck {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f80ed;
  border-radius: 4px;
}
.containerTaskCardCurrentLeftDetails {
  width: 90%;
  transform: translateX(10px);
}
.containerTaskCardCurrentLeftDetails p {
  width: 100%;
  font-family: Montserrat;
  text-decoration-line: line-through;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.containerTaskCardCurrentLeftCheck img {
  height: 80%;
  object-fit: contain;
}
.containerTaskCardCurrentRightDelete {
  opacity: 0;
  height: 18px;
}
.containerTaskCardCurrentRightDelete.show {
  opacity: 1;
}
.containerTaskCardCurrentRightDelete img {
  height: 100%;
  object-fit: contain;
}
.containerTaskCardCurrentRight {
  width: 15%;
}
